*{
    margin: 0;
    padding: 0%;
}


.lamp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.img{
    width: 250px;
}

.botao{
    cursor: pointer;
    width: 80px;
    height: 50px;
    border: 2px solid #4b4b3e;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
}